<app-navbar></app-navbar>
<app-filter></app-filter>
<p>home works!</p>
<!-- <app-house-card 
  [images]="[
    'https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80',
    'https://images.unsplash.com/photo-1605276374104-dee2a0ed3cd6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80',
    'https://images.unsplash.com/photo-1600607687920-4e2a09cf159d?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80',
    'https://images.unsplash.com/photo-1600566752355-35792bedcfea?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80'
  ]"
  [title]="'Modern Beachfront Villa'"
  [hostType]="'Superhost'"
  [dateRange]="'Jun 15-20'"
  [price]="245"
  [rating]="4.85"
></app-house-card> -->
<app-house-list></app-house-list>
