<div class="flex md:flex-row items-center  justify-center space-y-10 md:space-y-0 md:space-x-16 font-airbnb my-5 gap-5">
    <!-- Left Content -->
    <div class=" max-w-lg">
      <div class="mb-9 flex gap-2 items-center text-4xl text-gray-700 ">
        <!-- <i class="fa-brands fa-airbnb"></i>
        <p class="font-bold tracking-tight">Stayin'</p> -->
        <img class="h-10 pr-2" src="assets/images/logo/logo9.png" alt=""/>
        <img class="h-9 pt-1" src="assets/images/logo/logo8.png" alt=""/>
      </div>
      <h1 class="text-9xl text-gray-700 font-bold my-5">Oops!</h1>
      <p class="text-2xl mb-4">We can't seem to find the page you're looking for.</p>
      <p class="text-sm font-semibold mb-4">Error code: 404</p>
      <div class="text-sm space-y-1">
        <p><a routerLink="/home"  class="text-gray-600 hover:underline">Home</a></p>
        <p><a class="text-gray-600 hover:underline cursor-pointer">Search</a></p>
        <p><a class="text-gray-600 hover:underline cursor-pointer">Help</a></p>
        <p><a class="text-gray-600 hover:underline cursor-pointer">Traveling on Stayin'</a></p>
        <p><a class="text-gray-600 hover:underline cursor-pointer">Hosting on Stayin'</a></p>
        <p><a class="text-gray-600 hover:underline cursor-pointer">Trust & Safety</a></p>
        <p><a class="text-gray-600 hover:underline cursor-pointer">Sitemap</a></p>
      </div>
    </div>

    <!-- Illustration -->
    <div>
      <img src="https://a0.muscache.com/airbnb/static/error_pages/404-Airbnb_final-d652ff855b1335dd3eedc3baa8dc8b69.gif" alt="Sad girl illustration" class="w-64 h-auto mx-auto">
    </div>
  </div>
