.myimg:hover  {
  filter: brightness(0) saturate(100%) invert(24%) sepia(83%) saturate(746%) hue-rotate(320deg) brightness(91%) contrast(90%);
  transition: filter 0.1s ease;
}

img:hover{
    cursor: pointer;
  }